.banner-img {
    position: absolute;
    top: 100px;
    left: 15%; 
    width: 70%;
    /* height: 259px;  */
    
    box-shadow: 0px 0px 29px 19px rgba(0,0,0,0.98);
    z-index: 1;
    display: none;
  }

  /* .banner-img {
    position: absolute;
    top: 116px;
    left: 18%; 
    width: 1192px;
    height: 259px; 
    background-image: url("../img/banner2.jpg");
    background-size: 1192px 259px;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 29px 19px rgba(0,0,0,0.98);
    z-index: 1;
  } */

  .form-cadastro {
    position: absolute;
    top: 15%;
    left: 15%;
    align-content: center !important  ;
    width: 200px;
    height: 500px;
    /* text-align: center; */
    
  }

  .form-cadastro .modal-footer{
    position: absolute;
    top: 64%;
    left: -57px;
    /* align-content: center !important  ; */
    /* width: 200px; */
    /* height: 500px; */
    /* width: 200%; */
    
    
  }
  


  .modal-content2 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 339px;
    height: 493px;
    pointer-events: auto;
    background-color: #ffd600;
    background-clip: padding-box;
    border: 1px solid rgba(34, 42, 66, 0.2);
    border-radius: 0.2857rem;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.5);
    outline: 0;
    left: 41%;
    top: 17%;
  
  }

  .modal-title-cadastro {
    position: absolute;
    top: 55%;
    left: 0px;
    width: 100%;
    height: 50px;
    font-size: 26px;
    font-weight: bold;
    color: #222a42;
    
    outline: 0;
    text-align: center;
    z-index: 1;

  }

  .modal-header2 {
    position: absolute;
    
    left: 0px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #3138c3;
    
    outline: 0;
    text-align: center;
    top: 0px;
    z-index: 1;

  }

  .iframe-game {
    position: absolute;
    top: 0;
    left: 1.5%;
    

  }